<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<!-- Base common -->
	<meta charset="UTF-8"></meta>
	<title>Layout page</title>
	<!-- Base CSRF-TOKEN -->
	<sec:csrfMetaTags />
	<!-- Base scripts -->
	<script th:src="@{/public/js/jquery/jquery-3.1.1.min.js}"></script>
	<script th:src="@{/public/js/bootstrap/bootstrap.min.js}"></script>
	<script th:src="@{/public/js/pages/base.js}"></script>
	<!-- Base css -->
	<link rel="stylesheet" th:href="@{/public/css/bootstrap/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/public/css/pages/common.css}" />
</head>
<body>
	<!-- Base layout header -->
	<header>
		<div layout:fragment="header"></div>
	</header>
	<!-- Base layout body -->
	<section>
		<div layout:fragment="content"></div>
	</section>
	<!-- Base layout footer -->
	<footer>
		<div layout:fragment="footer"></div>
	</footer>
</body>
</html>