<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/baseLayout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title th:text="#{page.error.name}">Error page name prototype</title>
<link rel="stylesheet" th:href="@{/public/css/pages/error.css}" />
</head>
<body>
	<div layout:fragment="header"
		th:replace="header/not_authenticated :: empty-navbar-without-sidebar">Error
		page header prototype</div>
	<div class="container" layout:fragment="content">
		<div class="container">
			<div class="jumbotron">
				<h1>We have got a problem</h1>
				<p>During an operation an exception happened</p>
				<p>
					<a class="btn btn-lg btn-primary" th:href="@{/}">Return &raquo;</a>
				</p>
			</div>

			<div class="container">
				<div th:if="${redirectedUrl != ''}" class="col-md-12">
					<h3>Raised by</h3>
					<p th:text="${redirectedUrl}" />
				</div>
				<div th:if="${httpCode != ''}" class="col-md-12">
					<h3>HTTP Status code</h3>
					<p th:text="${httpCode}" />
				</div>
				<div th:if="${httpMessage != ''}" class="col-md-12">
					<h3>Message</h3>
					<p th:text="${httpMessage}" />
				</div>
			</div>

		</div>
	</div>
	<div layout:fragment="footer"></div>
</body>
</html>