<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/baseLayout">
<head>
	<title th:text="#{page.signup.name}">Signup page name prototype</title>
	<link rel="stylesheet" th:href="@{/public/css/pages/signup.css}" />
	<script th:src="@{/public/js/jquery/jquery.validate.js}"></script>
	<script th:src="@{/public/js/pages/signup.js}"></script>
</head>
<body>
	<div layout:fragment="header" th:replace="header/empty_header :: without-sidebar">
		Signup page header prototype
	</div>
	<div layout:fragment="content">
		<div class="container">
			<div th:if="${signup_result.getValue()} == 'FAILED'">
				<div class="alert alert-danger alert-dismissable alert-message-position">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<span th:text="${signup_message}">Invalid registration prototype!</span>
				</div>
			</div>
			<div th:if="${signup_result.getValue()} == 'PASSED'">
				<div class="alert alert-success alert-dismissable alert-message-position">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<span th:text="${signup_message}">Successful registration prototype!</span>
					<a class="btn btn-primary" th:href="@{${@environment.getProperty('page.signin')}}">Sign in &raquo;</a>
				</div>
			</div>
			<div id="registrationDiv" class="main-center">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Please register!</h3>
					</div>
					<div class="panel-body">
						<form id="registration-form" th:action="@{/signup}" th:object="${user}" method="POST">
							<div class="form-group">
								<input type="text" th:field="*{usernameId}" id="usernameId" class="form-control input-sm" placeholder="Username" />
								<p th:if="${#fields.hasErrors('usernameId')}" th:errors="*{usernameId}">Username errors</p>
							</div>
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group">
										<input type="text" th:field="*{firstname}" id="firstname" class="form-control input-sm" placeholder="First Name" />
										<p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">First name errors</p>
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group">
										<input type="text" th:field="*{lastname}" id="lastname" class="form-control input-sm" placeholder="Last Name" />
										<p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Last name errors</p>
									</div>
								</div>
							</div>
							<div class="form-group">
								<input type="text" th:field="*{email}" name="email" id="email" class="form-control input-sm" placeholder="Email Address" />
								<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">E-mail errors</p>
							</div>
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group">
										<input type="password" th:field="*{password}" name="password" id="password" class="form-control input-sm"
											placeholder="Password" />
										<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password errors</p>
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group">
										<input type="password" name="passwordConfirmation" id="passwordConfirmation" class="form-control input-sm"
											placeholder="Confirm Password" />
									</div>
								</div>
							</div>
							<button type="submit" id="registrationButton"
								class="btn btn-primary">Sign Up</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div layout:fragment="footer"></div>
</body>
</html>