<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<ul th:fragment = "side-menu-not-authenticated" class="nav nav-sidebar">
	<li class="active"><a th:href="signup">Sign up<span class="sr-only">(current)</span></a></li>
	<li><a th:href="signin">Sign in</a></li>
	<li><a href="#">Search</a></li>
</ul>

<ul th:fragment = "side-menu-authenticated" class="nav nav-sidebar">
	<li class="active"><a href="#">Dashboard<span class="sr-only">(current)</span></a></li>
	<li><a th:href="#">Sign out</a></li>
	<li><a href="#">Search</a></li>
</ul>

</html>