<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="authenticated" class="list-group hidden" id="menu-items">
	<a th:href="@{${@environment.getProperty('page.dashboard')}}" class="active list-group-item">Dashboard</a> 
	<a th:href="@{${@environment.getProperty('page.search')}}" class="list-group-item">Search</a> 
	<a th:href="@{${@environment.getProperty('page.signout')}}" class="list-group-item">Sign out</a>
</div>

<div th:fragment="not-authenticated" class="list-group hidden" id="menu-items">
	<a th:href="@{${@environment.getProperty('page.signup')}}" class="active list-group-item">Sign up</a> 
	<a th:href="@{${@environment.getProperty('page.signin')}}" class="list-group-item">Sign in</a>
	<a th:href="@{${@environment.getProperty('page.search')}}" class="list-group-item">Search</a>
</div>

</html>