<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav class="navbar navbar-default navbar-fixed-top"
	th:fragment="common-header">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				aria-expanded="false" aria-controls="navbar" id="menu-toggle">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand"
				th:href="@{${@environment.getProperty('page.welcome')}}"> <span
				th:text="#{project.name}">project.name</span></a>
		</div>

		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown">Profile <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<div class="navbar-content">
								<div class="row">
									<div class="col-md-5">
										<img th:src="@{${@environment.getProperty('user.avatar.default')}}" alt="Alternate User Avatar"
											class="img-responsive" />
										<p class="text-center small">
											Avatar
										</p>
									</div>
									<div class="col-md-7">
										<span th:text = "${user.usernameId}">Username prototype</span>
										<p class="text-muted small" th:text = "${user.email}">e-mail prototype</p>
										<div class="divider"></div>
										<a href="#" class="btn btn-primary btn-sm">View
											Profile</a>
									</div>
								</div>
							</div>
							<div class="navbar-footer">
								<div class="navbar-footer-content">
									<div class="row">
<!-- 										<div class="col-md-6"> -->
<!-- 											<a href="#" class="btn btn-default btn-sm">Change -->
<!-- 												Passowrd</a> -->
<!-- 										</div> -->
										<div class="col-md-12">
											<form th:action="@{${@environment.getProperty('page.signout')}}" method="POST"> 
												<button type="submit" class="pull-right" >Sign out</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul></li>
			</ul>
		</div>
	</div>
</nav>

</html>