<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="empty-navbar-sidebar"
	class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				aria-expanded="false" aria-controls="navbar" id="menu-button">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" th:href="welcome"><span th:text="#{project.name}">project.name</span></a>
		</div>
	</div>
</nav>

<nav th:fragment="empty-navbar-without-sidebar"
	class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" th:href="welcome"><span th:text="#{project.name}">project.name</span></a>
		</div>
	</div>
</nav>
</html>